body{
  width: auto;
}
body{
    font-size: clamp(0.5rem, 1.25vw, 1rem);
   }
h1{
    font-size: clamp(1rem, 2.5vw, 2rem);
   }

/* تنسيق الهامبرغر */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60px;
    height: 50px;
    cursor: pointer;
    transform:translate(+150px, +80px);
    z-index:2;
    position: absolute;
}

.line {
    height: 10px;
    width: 100%;
    border-radius: 5px;
    background-color:white;
}

/* القائمة الجانبية */
.menu {
    position: fixed;
    z-index:10;
    top: 0;
    left: -250px;  /* اجعل القائمة مخفية في البداية */
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: left 0.3s ease;
    padding-top: 50px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin: 20px 0;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 20px;
    display: block;
}

/* عند فتح القائمة */
.menu.open {
    left: 0;  /* يظهر القائمة عند النقر */ 
}
hr{
    height: 200px; 
   background-color: red;
   width: auto;
   transform: translate(0,0px);
   z-index:1;
}
h1{
  z-index:8;
  text-align: center;
  transform: translate(0px, -150px);
  color:white;
}
h1{
  text-align: center;
  transform: translate(0px, -70px);
  color:white;
}
#hr-1{
   height: 50px; 
   background-color: red;
   width:150px;
}
#h2-1{
  text-align: center;
  transform: translate(0px, -60px);
  color:white;
}
responsive-video{
    width:60%;
    height:auto;
   }
   @media(max-width: 1024px){
    responsive-video{
     width:80%;
    }
   }
   @media(max-width: 600px){
    responsive{
     width: 100%;
    }
   }
#video1{ margin:2%; }
#h2-2 { text-align: center;}
#h2-3 { text-align: center;}
#video2{ position: absolute;
top: auto px;
left:2%;}
#video3{  position: absolute;
top: auto px;
left:25%;}
#video4{  position: absolute;
top: auto px;
left:48%;}
#video5{ position: absolute;
top: auto px;
left:71%;}